@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --primary-blue: #0075DF;
    --secondary-blue: #6CE5F2;
    --light-blue: #E3F2FF;
    --highlight: #005BAD;
    --black: #000000;
    --white: #ffffff;
    --success-green: #008a20;
    --error-red: #d63638;
    --wp-custom-contrast-50: #2c3338;

    --font-size-large: 24px;
    --font-size-body: 1rem;
    --font-size-input: 1rem;
    --font-size-small: 0.8rem;

    --body-padding: 0.75rem;
}

* {
    text-wrap: pretty;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

html {
    font-family: 'Inter', sans-serif;
    background-color: var(--white);
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

main {
    display: flex;
    height: 100vh;
}

main > section {
    width: 50%;
    overflow: hidden;
}

p, label {
    font-size: var(--font-size-body);
    line-height: 1.5;
    letter-spacing: -0.03rem;
    font-weight: 400;
}

p a {
    color: var(--black);
}

/**
 * Header Styles
 */
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header__logo {
    font-size: var(--font-size-large);
    margin-top: 0;
    font-weight: 500;
    line-height: 1.1;
}

.header__logo-highlight {
    color: var(--highlight);
}

.form-section {
    max-width: 500px;
    padding: var( --body-padding );
    padding-top: 0;
}

.form-section__body {
    font-weight: 500;
}

.form-section__link {
    color: var(--primary-blue);
}

.form-section__link:hover {
    color: var(--white);
}

.form-section__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-section__input-container {
    position: relative;
    top: 0;
    right: 0;
}

.form-section__form-input {
    width: 100%;
}

.form-section__form-label {
    font-size: var(--font-size-small);
    text-align: center;
}

.form-section__form-input {
    font-size: var(--font-size-input);
    padding: 1.5rem 2rem;
    border-radius: 4rem;
    border: 1px solid transparent;
}

.form-section__form-result {
    font-size: var(--font-size-small);
    text-align: center;
    margin-bottom: 1rem;
}

.form-section__search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;

    width: 32px;
    height: 32px;
}

.form-section__download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-section__download-body {
    flex-basis: 50%;
    font-size: var(--font-size-small);
    line-height: 1.4;
}

.form-section__download-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 0.75rem 1.5rem 0.75rem 1.2rem;

    font-size: var(--font-size-small);
    border: 1px solid var(--primary-blue);
    border-radius: 4px;
    color: var(--white);
    text-decoration: none;
}

.download-button__content {
    text-wrap: nowrap;
}

.form-section__download-button:hover {
    border-color: var(--white);
}

.form-section__download-button > svg {
    height: 1.75rem;
    width: 1.75rem;
}

.form-section__download-button:hover > svg > path {
    fill: var(--white);
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    gap: 1rem;
    padding: 4rem 0 0;
}

.footer__content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer__link {
    color: var(--black);
}

.footer__link:hover {
    color: var(--primary-blue);
}

.footer img {
    width: 140px;
    filter: brightness(0);
}

.number-of-sites {
    display: flex;
    flex-direction: column;
}

.number-of-sites__count {
    margin: 0;
    padding: var(--body-padding);
    font-weight: 500;
    font-size: calc( 100vw / 2.8 );
    line-height: 1;
    text-align: center;
    letter-spacing: -0.4rem;
    margin-left: auto;
}

.form-section__form-result.error {
    color: var(--error-red);
}

.form-section__form-result.success {
    color: var(--success-green);
}

.form-section__form-input.error {
    color: var(--white);
    background-color: var(--error-red);
    border-color: var(--error-red);
}

.form-section__form-input.success {
    color: var(--white);
    background-color: var(--success-green);
    border-color: var(--success-green);
}

.chart {
    background-color: var(--light-blue);
    padding: var(--body-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-section {
    position: initial;
}

.intro,
.large-count {
    height: 50%;
    padding: var(--body-padding);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.intro {
    background-color: var(--secondary-blue);
}

.intro > div p {
    width: 50%;
}

.large-count {
    background-color: var(--primary-blue);
}

.source-serif-4-text {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.recently-moved-container,
.top-destinations {
    padding: 0 20px 40px 0;
    position: relative;
    z-index: 10;
}

.top-destinations {
    max-width: 150px;
}

.recently-moved-container h3,
.top-destinations h3 {
    font-size: var(--font-size-small);
    margin: 0 0 10px;
}

.top-destinations .host-item:hover {
    color: var(--primary-blue);
    cursor: pointer;
}

.host-item {
    font-size: var(--font-size-small);
}

.recently-moved-wrap {
    height: 24px; /* Height of one item */
    overflow: hidden;
    position: relative;
}

.recently-moved {
    position: absolute;
    animation: ticker 4s linear infinite;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-blue);
    font-size: 20px;
}

.recently-moved-site {
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: 4px;
}

.recently-moved-site a {
    color: var(--primary-blue);
    text-decoration: underline;
}

.recently-moved-site a:hover {
    text-decoration: none;
}

@keyframes ticker {
    0% {
        transform: translateY(24px);
        opacity: 0;
    }
    5% {
        transform: translateY(0);
        opacity: 1;
    }
    95% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-24px);
        opacity: 0;
    }
}

.chart-container {
    margin-top: auto;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.tooltip {
    position: absolute;
    color: var(--black);
    padding: 4px 8px;
    font-size: 15px;
    bottom: -30px;
    transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: none;
    z-index: 100;
    transition: opacity 0.3s ease;
}

.chart-container__date {
    font-size: 12px;
    transform: rotate(-90deg);
    transform-origin: left center;
    position: absolute;
    left: 6px;
    bottom: 20px;
}

.bar {
    width: 2px;
    background-color: var(--primary-blue);
    position: relative;
    margin: 0 1px;
    transform-origin: bottom;
    animation: fillBar 0.4s ease-in forwards;
    transform: scaleY(0);
}

.bar:hover {
    background-color: var(--secondary-blue);
}

.bars-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}

@keyframes fillBar {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.host {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


@media (min-width: 610px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 800px) {
    main {
        display: block;
    }

    main > section {
        width: 100% !important;
    }

    main > section.chart {
        width: calc( 100% - 2 * var(--body-padding) ) !important;
    }

    .intro, .large-count {
        height: auto;
    }

    .chart {
        position: relative;
        height: 80vh;
    }
}

@media (min-width: 800px) {
    :root {
        --body-padding: 2rem;
    }

    .header {
        flex-direction: row;
        column-gap: 5rem;
    }

    .header__logo {
        position: absolute;
    }

    .form-section {
        position: absolute;
        top: var(--body-padding);
        right: var(--body-padding);
        width: 500px;
        padding: 0;
    }

    .form-section__body {
        margin-top: 0;
    }

    .form-section__download {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
    }

    .number-of-sites__count {
        padding: 0;
        font-size: calc( 50vw / 2.8 );
    }
}